# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
Plugins>Analyze>AplimTools, "M0T1T2 Importer", com.vitimage.aplimtools.Bionano_T1T2M0_Importer
Plugins>Analyze>AplimTools, "Normalize hyper MRI", com.vitimage.aplimtools.Normalize_hyperMRI
Plugins>Analyze>AplimTools, "M0T1T2 Explorer", com.vitimage.aplimtools.MRI_HyperCurvesExplorer
Plugins>Analyze>AplimTools, "Aplim Example tool", com.vitimage.aplimtools.Aplim_Example
